<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.projectMapper">
  
  <select id="totalRecord" resultType="java.lang.Integer">
		select count(*) from inventory
  </select>
  
  <select id="findAll" resultType="InventoryVO">
	  SELECT *
      FROM inventory
      order by inventory_product_id desc
  </select>
  
   <!-- 검색 -->
   <select id="productSearch" parameterType="java.lang.String" resultType="ProductVO">
	  select *
	  from product
	  where product_name like concat('%',#{keyword},'%') and product_del = 0
	  order by product_id desc
  </select>
  
   <!-- 제품 상세페이지 -->
   <select id="productDetail" parameterType="java.lang.String" resultType="ProductVO">
	  select *
	  from product
	  where product_id = #{product_id}
   </select>
  
   <!-- 마이페이지 -->
   <select id="mypage" parameterType="java.lang.String" resultType="BuyVO">
	  select *
	  from buy
	  where buy_userid = #{userid}
   </select>
   
   <!-- 마이페이지 디테일 -->
   <select id="mypageDetail" parameterType="java.lang.Integer" resultType="BuyDetailVO">
	    select * 
	    from buydetail 
	    where buydetail_buyno in 
	    <foreach collection="array" item="buyno" open="(" separator="," close=")">
	        #{buyno}
	    </foreach>
	</select>
	
   <!-- 마이페이지 디테일 -->
   <select id="mypageDetailProduct" parameterType="java.lang.String" resultType="ProductVO">
	    select * 
	    from product 
	    where product_id in 
	    <foreach collection="array" item="productno" open="(" separator="," close=")">
	        #{productno}
	    </foreach>
	</select>
	
	<!-- 주소지 조회(get) -->
   <select id="addressManageSelect1" parameterType="java.lang.String" resultType="AddressVO">
	  select *
	  from address
	  where address_userid = #{userid}
   </select>
   
   	<!-- 주소지 수정(get) -->
   <select id="addressManageUpdate1" parameterType="java.lang.Integer" resultType="AddressVO">
	  select *
	  from address
	  where address_no = #{address_no}
   </select>
   
    <!-- 주소지 수정(post) -->
   <update id="addressManageUpdate2" parameterType="AddressVO">
	  update address
	  set address_name=#{address_name}, address_content=#{address_content}
	  where address_no=#{address_no}
   </update>
   
   <!-- 주소지 추가(post) -->
   <insert id="addressManageAdd2" parameterType="AddressVO">
   		insert into address(address_userid, address_main, address_name, address_content)
		values (#{address_userid}, 0, #{address_name}, #{address_content})
   </insert>
   
   <!-- 주소지 삭제(get) -->
   <delete id="addressManageDelete1" parameterType="java.lang.Integer">
   	  delete from address
	  where address_no = #{address_no}
   </delete>
  
  </mapper>