<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.projectMapper">
  
  <select id="totalRecord" resultType="java.lang.Integer">
		select count(*) from inventory
  </select>
  
  <select id="findAll" resultType="InventoryVO">
	  SELECT *
      FROM inventory
      order by inventory_product_id desc
  </select>
  
   <!-- 검색 -->
   <select id="productSearch" parameterType="java.lang.String" resultType="ProductVO">
	  select *
	  from product
	  where product_name like concat('%',#{keyword},'%')
	  order by product_id desc
  </select>
  
   <!-- 제품 상세페이지 -->
   <select id="productDetail" parameterType="java.lang.String" resultType="ProductVO">
	  select *
	  from product
	  where product_id = #{product_id}
   </select>
  
  
  
  </mapper>